<section class="center region">
  <form class="cluster">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" #nameInput />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Calories</mat-label>
      <input matInput type="number" #calorieInput />
    </mat-form-field>
    <button
      mat-fab
      color="accent"
      type="button"
      (click)="addItem(nameInput, calorieInput)"
    >
      <mat-icon>addition</mat-icon>
    </button>
    <button mat-raised-button (click)="clearAllItems()" type="button">
      <strong>Clear All</strong>
    </button>
  </form>

  <div class="region">
    <mat-list>
      @for(item of calItems; track item) {
      <app-calitem [item]="item"></app-calitem>
      }
    </mat-list>
  </div>
</section>
