// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// https://materialtheme.arcsine.dev/?c=YHBhbGV0dGU$YHByaW1hcnk$YF48IzNmNzg0YyIsIj9lcjwjYzVkN2M5IiwiO2VyPCMyOTViMzN$LCIlPmBePCM0NTY5OTAiLCI~ZXI8I2M3ZDJkZSIsIjtlcjwjMmU0Yzczfiwid2Fybj5gXjwjZmYwMDAwIiwiP2VyPCNmZmIzYjMiLCI7ZXI8I2ZmMDAwMH4sIj9UZXh0PCMyMzJjMzMiLCI~PTwjZjhmOGY4IiwiO1RleHQ8I2Y4ZjhmOCIsIjs9PCMyMzJjMzN$LCJmb250cz5bYEA8KC00IiwiZmFtaWx5PE1hbnJvcGUiLCJ2YXJpYW50PHJlZ3VsYXJ$LGBAPCgtMyIsImZhbWlseTxNYW5yb3BlfixgQDwoLTIiLCJmYW1pbHk8TWFucm9wZX4sYEA8KC0xIiwiZmFtaWx5PE1hbnJvcGV$LGBAPGhlYWRsaW5lIiwiZmFtaWx5PE1hbnJvcGV$LGBAPHRpdGxlIiwiZmFtaWx5PE1hbnJvcGUiLCJ2YXJpYW50PHJlZ3VsYXJ$LGBAPHN1YiktMiIsImZhbWlseTxNYW5yb3BlfixgQDxzdWIpLTEiLCJmYW1pbHk8TWFucm9wZSIsInZhcmlhbnQ8cmVndWxhcn4sYEA8Ym9keS0yIiwiZmFtaWx5PE1hbnJvcGUiLCJ2YXJpYW50PHJlZ3VsYXJ$LGBAPGJvZHktMSIsImZhbWlseTxNYW5yb3BlfixgQDxidXR0b24iLCJmYW1pbHk8TWFucm9wZSIsInZhcmlhbnQ8cmVndWxhcn4sYEA8Y2FwdGlvbiIsImZhbWlseTxNYW5yb3BlfixgQDxpbnB1dCIsImZhbWlseTxNYW5yb3BlIiwic2l6ZT5udWxsfV0sImljb25zPEZpbGxlZCIsIj9uZXNzPnRydWUsInZlcnNpb24$MTN9
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$CalCraft-primary: mat.define-palette(mat.$indigo-palette);
$CalCraft-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$CalCraft-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$CalCraft-theme: mat.define-light-theme(
  (
    color: (
      primary: $CalCraft-primary,
      accent: $CalCraft-accent,
      warn: $CalCraft-warn,
    ),
  )
);

$CalCraft-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $CalCraft-primary,
      accent: $CalCraft-accent,
      warn: $CalCraft-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

// @include mat.all-component-themes($CalCraft-theme);
@include mat.all-component-themes($CalCraft-dark-theme);
