/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 85rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2em;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: 85ch;
}

.region {
  padding-top: 3em;
  padding-bottom: 3em;
}
